body{
    background-color: whitesmoke;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header{
    height: 9.5vh;
    width: 100vw;
    background-color: white;
}

nav{
    height: 9.5vh;
    width: 100vw;
}

.upperBar{
    height: 7vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.upperBar p{
    margin: 9px;
}
.leftSide{
    position: relative;
    top: 8px;
}
.rightSide{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 5px;
}
.iconSize{
    height: 4vh;
    width: 2vw;
    padding-left: 8px;
}

input{
    height: 25px;
    position: relative;
    bottom: 5px;
}
.linkedInLogo{
    height: 30px;
    width: 30px;
    position: relative;
    top: 5px;
}

a{
    text-decoration: none;
    margin-left: 15px;
}

a p{
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 13px;
}
hr{
    position: relative;
    bottom: 10px;
}
main{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    margin-top: 4vh;
}



/*  */
/*  */
/*  */

.bodyLeftSide{
    width: 20vw;
}
.leftUpper{
    background-color: white;
    border: solid 5px whitesmoke;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 20vw;
    position: relative;
    font-size: 12px;
    border-radius: 5px;
}

.backgroundPic{
    width: 100%;
    position: relative;
    z-index: 0;
    border-bottom: solid 2px white;
    border-radius: 15px 15px 0 0;
}

.center{
    display: flex;
    justify-content: center;
}

.morty{
    width: 5vw;
    height: auto;
    border: 2px solid white ;
    border-radius: 5vw;
    position: relative;
    bottom: 3vh;
    z-index: 2;
}


.mortyDetails{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    text-align: center;
    border-bottom:solid whitesmoke 2px;
}
.mortyDetails p{
    font-size: 12px;
}

p{
    margin: 0;
}
.notifications{
    border-bottom: solid whitesmoke 2px;
}
.indivNoti{
    display: flex;
    justify-content: space-between;
    margin: 0 1vh;
    font-size: 10px;
}

.prem{
    padding-left: 1vh;
    border-bottom: solid whitesmoke 2px;
}

#premium{
    height: 10px;
    width: 10px;
}

.items{
    border-bottom: 0px transparent whitesmoke;
    border-radius: 0 0 15px 15px;
    padding-left: 1vh;
}
#myItems{
    height: 10px;
}

.leftLower{
    background-color: white;
    display: block;
    font-size: 12px;
    border: solid 3px whitesmoke;
    border-radius: 15px;
    width: 20vw;
}

.plus{
    height: 8px;
    margin-right: 5px;

}

.links{
    display: flex;
    flex-direction: column;
    border-bottom: whitesmoke solid 2px;
}

.events{
    display: flex;
    justify-content: space-between;
}

.discoverMore{
    text-align: center;
    color: gray;
}

/*  */
/*  */
/*  */

.bodyCenter{
    border: 5px transparent black;
    width: 50vw;
}
#morty{
    width: 5vh;
    height: 5vh;
    border: 2px solid white ;
    border-radius: 5vh;
}

.status{
    width: 100%;
    display: flex;
    padding-left: 1vw;
    padding-top: 2vh;
    margin-bottom: 3%;
    align-items: center;
}
#status{
    background-color: white;
    border-radius: 2vh;
    width: 100%;
    height: 20vh;
}
.post{
    border:transparent 2px white ;
    border-radius: 15px;
    margin-top: 3vh;
    width: 80%;
    height: 5vh;
}

.icons{
    display: inline;
    justify-content: center;
    height: 100%;
    width: 25%;
}

#pic{
    height: 40%;
    
}

#icon{
    display: flex;
    width: 100%;
    height: 30%;
    padding-left: 2%;
}

.guestPost{
    border: 1vh solid white;
    background-color: white;
    width: 100%;
    height: auto;
    margin: 2vh 0;
    border-radius: 15px;
}

.guest{
    display: flex;
    align-items: center;
}

.guestPost hr{
    margin-top: 2vh;
}

#rick{
    height: 3vh;
    width: 3vh;
    border: 1px white solid;
    border-radius: 5vh;
    margin-right: 2vh;
    margin-left: 1vh;
}

.lowBar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1vh;
}

.lowBar img{
    height: 3vh;
    margin-right: 1vh;
    
}

/*  */
/*  */
/*  */

.upperRight{
    width: 100%;
    height: auto;
    border-radius:5%;
    background-color: white;
    margin-bottom: 3vh;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}

.i{
    background-color: black;
    color: white;
    height: min-content;
    width: 3%;
    padding: 0.7vh;
    padding-left: 0.5vw;
    margin-top: 2.5vh;
}

ul{
    margin: 0;
    
}

ul li{
    height:auto;
    font-size: 1em;
    margin-bottom: 2vh;
}

li p{
    font-size: 10px;
}

li:hover, .seeMore:hover{
    background-color: gray;
}

.seeMore{
    margin-left: 2vw;
    margin-bottom: 2vh;
}


/*  */
/*  */
/*  */


.bodyRightSide{
    width: 20vw;
}




@media only screen and (max-width: 856px) {
    #status{
        font-size: .6em;
    }
}